@font-face {
    font-family: 'Italianno';
    src: url('./Italianno-Regular.ttf') format('ttf');
    /* font-weight: normal; */
    /* font-style: normal; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#content {
    border: 2px solid red;
    background: url("./images/burger.jpg");
    background-size: cover;
    background-position: bottom right;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h2 {
    font-family: 'Italianno', 'Brush Script MT';
    font-size: 100px;
}

header {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 0 15px;
}

nav {
    list-style: none;
    margin-top: auto;
}

nav>button {
    font-size: inherit;
    padding: 20px;
    border: none;
    background: rgba(255, 255, 255, 0);
    color: white;
}

nav>button:hover,
nav>button:focus {
    box-shadow: 0 0.5em 0 -0.4em white;
    transform: translateY(-0.25em);
    transition: 400ms;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}

.tab {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 700px;
    background: rgba(255, 255, 255, 0.1);
}

.Home {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: auto 0;
}

.chef {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 350px;
    width: 350px;
    background: url("./images/chef.jpg");
    background-size: cover;
    border-radius: 175px;
    margin: 0 auto;
}

/* Menu */
.Menu {
    padding: 30px;
    display: grid;
    gap: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.Menu>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    /* border: 2px solid red; */
    background: rgba(0, 0, 0, 0.5);
    height: 340px;
    cursor: pointer;
}

.Menu>div :nth-child(1) {
    /* border: 2px solid green; */
    min-height: 160px;
    width: 80%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img1 {
    background: url("./images/burger1.png");
}

.img2 {
    background: url("./images/cheeseburger.png");
}

.img3 {
    background: url("./images/burger3.png");
}

.img4 {
    background: url("./images/burger2.png");
}

.img5 {
    background: url("./images/burger4.png");
}

.img6 {
    background: url("./images/sandwich1.png");
}

.img6 {
    background: url("./images/sandwich1.png");
}

.img7 {
    background: url("./images/sandwich2.png");
}

.img8 {
    background: url("./images/sandwich3.png");
}

.img9 {
    background: url("./images/hot-dog.png");
}

.img10 {
    background: url("./images/bagel.png");
}

.Contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
}

.location {
    background: url("./images/location.png");
    width: 600px;
    height: 550px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

#photoBy {
    margin-left: auto;
    font-size: 15px;
}

a:link,
a:visited {
    color: white;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: inherit;
    font-weight: 500;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.fa-github {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}